.profile {
  border-radius: 1rem;
  color: #ffffff;
  width: 12rem;
  height: 30rem;
}

.body {
  display: flex;
}

.errmsg {
  margin: -.5rem 0 0 3rem;
}

.content {
  display: flex;
  flex-direction: column-reverse;
}
