.profile {
  border-radius: 1rem;
  color: #ffffff;
  width: 12rem;
  height: 30rem;
}

.body {
  display: flex;
}

.errmsg {
  margin: -.5rem 0 0 3rem;
}

@media (max-width: 1024px) {
  .body {
    margin: 0 6rem;
  }

  .profile{
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .body {
    margin: 0 -4rem;
  }

  .profile{
    width: 8rem;
  }
}

@media (max-width: 425px) {
  .body {
    margin: 0 -2rem;
  }

  .profile{
    width: 7rem;
  }
}