.proposal {
  max-width: 95%;
  width: auto;
  margin: -1.5rem 8rem 0 0;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  animation: proposal-appear 1s ease-out forwards;
}

.heading {
  color: white;
}

.proposal_list {
  padding: 0;
  margin: 0rem -2.5rem auto;
}

.proposal_list ul {
  padding: auto;
  margin: 0 0 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@keyframes proposal-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 425px) {
  .proposal {
    padding: none;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-bottom: -1.5rem;
  }

  .proposal_list {
    padding: none;
    width: 20px;
  }
}
