.rap {
  margin: 5px;
  color: white;
  font-size: smaller;
}

.forum_content {
  color: white;
  padding: 1px 10px;
  height: auto;
  width: auto;
}

.user {
  display: flex;
}

.user img {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 50%;
  margin-right: 0.3rem;
}

.checkbox__div {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 6px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  flex-shrink: 0;
}

.checkbox__box::after {
  content: "\2714";
}

.checkbox__input:checked + .checkbox__box {
  color: rgb(2, 255, 2);
}

@media (max-width: 1024px) {
  .rap {
    margin: -0.5rem 0 0.9rem;
    width: 29rem;
  }

  .profile {
    width: 6rem;
  }
}

@media (max-width: 768px) {
  .rap {
    margin: -0.5rem 0 0.9rem;
    width: 36rem;
  }

  .profile {
    width: 6rem;
  }
}

@media (max-width: 425px) {
  .rap {
    margin: -0.5rem 0 0.9rem;
    width: 18rem;
  }

  .profile {
    width: 7rem;
  }
}
@media (max-width: 375px) {
  .rap {
    margin: -0.5rem 0 0.9rem;
    width:10rem;
  }

  .profile {
    width: 6rem;
  }
}

@media (max-width: 320px) {
  .rap {
    margin: -0.5rem 0 0.9rem;
    width: 8rem;
  }

  .profile {
    width: 6rem;
  }
}
